@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>DAHLIZ.AZ </title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/Template/front/css/error.css" />
</head>

<body>
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404" style="height:100px;">
                <h3>@Localizer["Success"]!</h3>
            </div>
            <h2>@Localizer["Thanks for payment"]!</h2>
            <a href="@Url.Action("Index","Home")">@Localizer["GO TO MAIN PAGE"]</a>
        </div>
    </div>
</body>
</html>
