@model Size
@{
    ViewData["Title"] = "Edit";
}

<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <div class="card card-body">
                <h4 class="card-title">Size Add</h4>
                <form id="size_edit" autocomplete="off" method="post" action="@Url.Action("edit", "size")" class="form-horizontal m-t-30">
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <div class="form-group">
                        <div class="error_wrapper size_name"></div>
                        <label>Name</label>
                        <input data-element="true" data-error="size_name" data-type="text" value="@Model.Name" type="text" class="form-control" asp-for="Name">
                    </div>
                    <button type="submit" id="btnSubmit" data-parent="#size_edit" class="btn btn-primary">Edit</button>
                </form>
            </div>
        </div>
    </div>
</div>

