<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Admin/assets/images/favicon.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
    <link href="~/Admin/dist/css/Main.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="~/Admin/dist/css/flipclock.css" rel="stylesheet" />
    <title>DAHLIZ.AZ ADMIN DASHBOARD</title>
    <link href="~/Admin/dist/css/style.min.css" rel="stylesheet">
</head>
<body>
    @*<div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>*@
    <div id="main-wrapper" data-navbarbg="skin6" data-theme="light" data-layout="vertical" data-sidebartype="full" data-boxed-layout="full">
        <header class="topbar" data-navbarbg="skin6">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <div class="navbar-header" data-logobg="skin5">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                        <i class="ti-menu ti-close"></i>
                    </a>
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <div class="navbar-brand text-center">
                        <a href="@Url.Action("Index","Home")" class="text-center d-inline-block logo">
                            <!-- Logo icon -->
                            <h2 style="display:inline-block;color:#fff;">DAHLIZ.AZ </h2>
                        </a>
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Toggle which is visible on mobile only -->
                    <!-- ============================================================== -->
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent"
                       aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="ti-more"></i>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin6">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-left mr-auto">
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item search-box">
                            <a class="nav-link waves-effect waves-dark" href="javascript:void(0)">
                                <div class="d-flex align-items-center">
                                    <i class="mdi mdi-magnify font-20 mr-1"></i>
                                    <div class="ml-1 d-none d-sm-block">
                                        <span>Search</span>
                                    </div>
                                </div>
                            </a>
                            <form class="app-search position-absolute">
                                <input type="text" class="form-control" placeholder="Search &amp; enter">
                                <a class="srh-btn">
                                    <i class="ti-close"></i>
                                </a>
                            </form>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <vc:admin-language></vc:admin-language>
                </div>
            </nav>
        </header>
        <aside class="left-sidebar" data-sidebarbg="skin5">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-action="index" asp-controller="product" aria-expanded="false">
                                <i class="fas fa-tshirt"></i>
                                <span class="hide-menu">Product</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-action="index" asp-controller="subcategory" aria-expanded="false">
                                <i class="mdi mdi-av-timer"></i>
                                <span class="hide-menu">Subcategory</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-action="index" asp-controller="category" aria-expanded="false">
                                <i class="fas fa-door-open"></i>
                                <span class="hide-menu">Category</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-action="index" asp-controller="size" aria-expanded="false">
                                <i class="fab fa-searchengin"></i>
                                <span class="hide-menu">Size</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-action="index" asp-controller="noti" aria-expanded="false">
                                <i class="far fa-bell"></i>
                                <span class="hide-menu">Notification</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-action="index" asp-controller="user" aria-expanded="false">
                                <i class="fas fa-user-circle"></i>
                                <span class="hide-menu">Users</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-action="index" asp-controller="about" aria-expanded="false">
                                <i class="fas fa-clipboard-check"></i>
                                <span class="hide-menu">About</span>
                            </a>
                        </li>
                        @*<li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-action="index" asp-controller="color" aria-expanded="false">
                <i class="fas fa-palette"></i>
                <span class="hide-menu">Color</span>
            </a>
        </li>*@
                        @*<li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-action="index" asp-controller="brand" aria-expanded="false">
                <i class="fab fa-apple"></i>
                <span class="hide-menu">Brand</span>
            </a>
        </li>*@
                        @*<li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-action="index" asp-controller="connect" aria-expanded="false">
                <i class="fas fa-wifi"></i>
                <span class="hide-menu">Connect</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-action="index" asp-controller="comment" aria-expanded="false">
                <i class="fas fa-comment"></i>
                <span class="hide-menu">Comment</span>
            </a>
        </li>*@
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-action="index" asp-controller="Payment" aria-expanded="false">
                                <i class="far fa-credit-card"></i>
                                <span class="hide-menu">Payment</span>
                            </a>
                        </li>
                        @*<li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-action="index" asp-controller="Order" aria-expanded="false">
                <i class="fas fa-envelope-open-text"></i>
                <span class="hide-menu">Order</span>
            </a>
        </li>*@
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-action="index" asp-controller="Slider" aria-expanded="false">
                                <i class="fab fa-slideshare"></i>
                                <span class="hide-menu">Slider</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-action="index" asp-controller="ads" aria-expanded="false">
                                <i class="fas fa-ad"></i>
                                <span class="hide-menu">Advertising</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-action="index" asp-controller="Settings" aria-expanded="false">
                                <i class="fas fa-cog"></i>
                                <span class="hide-menu">Site Settings</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-action="index" asp-controller="Shippings" aria-expanded="false">
                                <i class="fas fa-truck"></i>
                                <span class="hide-menu">Shippings</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-action="Index" asp-controller="Terms" aria-expanded="false">
                                <i class="fas fa-clipboard-check"></i>
                                <span class="hide-menu">Terms and Conditions</span>
                            </a>
                        </li>
                        @*<li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-action="Index" asp-controller="Cities" aria-expanded="false">
                <span class="hide-menu">City</span>
            </a>
        </li>*@
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <div class="page-wrapper" style="background:white!important;">
            @RenderBody()
            <footer class="footer text-center"></footer>
        </div>
    </div>
    <script src="~/Admin/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/Admin/dist/js/custom.min.js"></script>
    <script src="~/Admin/dist/js/ckeditor.js"></script>
    <vc:editor></vc:editor>
    <script src="~/Admin/dist/js/validation.js"></script>
    <script src="~/Admin/dist/js/Main.js"></script>
    @*<script src="~/Admin/dist/js/myjs.js"></script>*@
    @if (ViewBag.EditCkEditor == "true")
    {
        @RenderSection("EditCkEditor")
    }
    @*<script src="~/Admin/dist/js/flipclock.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="~/Admin/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
</body>
</html>