@model List<AboutLanguage>
<div class="container">
    <div class="row">
        <div class="col-11 mt-4 mx-auto">
            <h1>About</h1>
            <input id="AboutId" type="text" hidden name="AboutId" value="@Model.FirstOrDefault().AboutId" />
            @{
                var input_counter = 1;
            }
            @foreach (AboutLanguage terms in Model)
            {
                <input data-addres="#editor_@input_counter" data-type="ck-editor-text" type="text" hidden value="@terms.Text" />
                input_counter++;
            }
            @{
                List<Language> languages = (List<Language>)ViewBag.Languages;
                var counter = 1;
            }
            @foreach (Language language in languages)
            {

                <div class="editor-wrapper my-5">
                    <h4>About for @language.Value language</h4>
                    <textarea data-editor="true" name="content" id="editor_@counter">
                </textarea>
                </div>
                counter++;
            }

            <button type="button" id="about-edit" class="mt-3 btn btn-success">Edit</button>
            <p style="font-size:2em;font-weight:bold;" id="editor_info"></p>
        </div>
    </div>
</div>

@section EditCkEditor{

    <script>
         GetEditorData();
    </script>

}